<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">  
<plist version="1.0">  
<dict>
    <key>cs</key>
    <dict>
        <key>1</key>
            <dict>
                <key>name</key>
                 <string>餐盒中的剩饭</string>
                 <key>class</key>
                 <integer>1</integer>
                 <key>img</key>
                 <string>sf.png</string>
             </dict>
        <key>2</key>
        <dict>
            <key>name</key>
            <string>用过的快餐盒</string>
            <key>class</key>
            <integer>4</integer>
            <key>img</key>
            <string>ch.png</string>
        </dict>
        <key>3</key>
        <dict>
            <key>name</key>
            <string>饮料瓶</string>
            <key>class</key>
            <integer>2</integer>
            <key>img</key>
            <string>ylp.png</string>
        </dict>
        <key>4</key>
        <dict>
            <key>name</key>
            <string>废电池</string>
            <key>class</key>
            <integer>3</integer>
            <key>img</key>
            <string>fdc.png</string>
        </dict>
        <key>5</key>
        <dict>
            <key>name</key>
            <string>烟头</string>
            <key>class</key>
            <integer>4</integer>
            <key>img</key>
            <string>yt.png</string>
        </dict>
        <key>6</key>
        <dict>
            <key>name</key>
            <string>废报纸</string>
            <key>class</key>
            <integer>2</integer>
            <key>img</key>
            <string>fbz.png</string>
        </dict>
        <key>7</key>
        <dict>
            <key>name</key>
            <string>废灯管</string>
            <key>class</key>
            <integer>3</integer>
            <key>img</key>
            <string>fdg.png</string>
        </dict>
        <key>8</key>
        <dict>
            <key>name</key>
            <string>废纸巾</string>
            <key>class</key>
            <integer>4</integer>
            <key>img</key>
            <string>fzj.png</string>
        </dict>
        <key>9</key>
        <dict>
            <key>name</key>
            <string>废塑料袋</string>
            <key>class</key>
            <integer>4</integer>
            <key>img</key>
            <string>sld.png</string>
        </dict>
        <key>10</key>
        <dict>
            <key>name</key>
            <string>枯树叶</string>
            <key>class</key>
            <integer>1</integer>
            <key>img</key>
            <string>ksy.png</string>
        </dict>
        <key>11</key>
        <dict>
            <key>name</key>
            <string>玻璃瓶</string>
            <key>class</key>
            <integer>2</integer>
            <key>img</key>
            <string>blp.png</string>
        </dict>
        <key>12</key>
        <dict>
            <key>name</key>
            <string>螃蟹壳</string>
            <key>class</key>
            <integer>1</integer>
            <key>img</key>
            <string>pxk.png</string>
        </dict>
        <key>13</key>
        <dict>
            <key>name</key>
            <string>杀虫剂罐</string>
            <key>class</key>
            <integer>3</integer>
            <key>img</key>
            <string>scj.png</string>
        </dict>
        <key>14</key>
        <dict>
            <key>name</key>
            <string>西瓜皮</string>
            <key>class</key>
            <integer>1</integer>
            <key>img</key>
            <string>xgp.png</string>
        </dict>
        <key>15</key>
        <dict>
            <key>name</key>
            <string>易拉罐</string>
            <key>class</key>
            <integer>2</integer>
            <key>img</key>
            <string>ylg.png</string>
        </dict>
        <key>16</key>
                <dict>
                    <key>name</key>
                    <string>修正液</string>
                    <key>class</key>
                    <integer>3</integer>
                    <key>img</key>
                    <string>xzy.png</string>
                </dict>
        <key>17</key>
                <dict>
                <key>name</key>
                <string>废纸杯</string>
                <key>class</key>
                <integer>4</integer>
                <key>img</key>
                <string>fzb.png</string>
                </dict>
        <key>18</key>
                <dict>
                <key>name</key>
                <string>牛奶盒</string>
                <key>class</key>
                <integer>2</integer>
                <key>img</key>
                <string>nnh.png</string>
                </dict>
        <key>19</key>
                <dict>
                <key>name</key>
                <string>铅笔头</string>
                <key>class</key>
                <integer>4</integer>
                <key>img</key>
                <string>qbt.png</string>
                </dict>
    </dict>
    <key>nc</key>
    <dict>
        <key>1</key>
        <dict>
            <key>name</key>
            <string>餐盒中的剩饭</string>
            <key>class</key>
            <integer>6</integer>
            <key>img</key>
            <string>sf.png</string>
        </dict>
        <key>2</key>
        <dict>
            <key>name</key>
            <string>用过的快餐盒</string>
            <key>class</key>
            <integer>5</integer>
            <key>img</key>
            <string>ch.png</string>
        </dict>
        <key>3</key>
        <dict>
            <key>name</key>
            <string>饮料瓶</string>
            <key>class</key>
            <integer>5</integer>
            <key>img</key>
            <string>ylp.png</string>
        </dict>
        <key>4</key>
        <dict>
            <key>name</key>
            <string>废电池</string>
            <key>class</key>
            <integer>5</integer>
            <key>img</key>
            <string>fdc.png</string>
        </dict>
        <key>5</key>
        <dict>
            <key>name</key>
            <string>烟头</string>
            <key>class</key>
            <integer>5</integer>
            <key>img</key>
            <string>yt.png</string>
        </dict>
        <key>6</key>
        <dict>
            <key>name</key>
            <string>废报纸</string>
            <key>class</key>
            <integer>5</integer>
            <key>img</key>
            <string>fbz.png</string>
        </dict>
        <key>7</key>
        <dict>
            <key>name</key>
            <string>废灯管</string>
            <key>class</key>
            <integer>5</integer>
            <key>img</key>
            <string>fdg.png</string>
        </dict>
        <key>8</key>
        <dict>
            <key>name</key>
            <string>废纸巾</string>
            <key>class</key>
            <integer>5</integer>
            <key>img</key>
            <string>fzj.png</string>
        </dict>
        <key>9</key>
        <dict>
            <key>name</key>
            <string>用过的塑料袋</string>
            <key>class</key>
            <integer>5</integer>
            <key>img</key>
            <string>sld.png</string>
        </dict>
        <key>10</key>
        <dict>
            <key>name</key>
            <string>枯树叶</string>
            <key>class</key>
            <integer>6</integer>
            <key>img</key>
            <string>ksy.png</string>
        </dict>
        <key>11</key>
        <dict>
            <key>name</key>
            <string>玻璃瓶</string>
            <key>class</key>
            <integer>5</integer>
            <key>img</key>
            <string>blp.png</string>
        </dict>
        <key>12</key>
        <dict>
            <key>name</key>
            <string>螃蟹壳</string>
            <key>class</key>
            <integer>6</integer>
            <key>img</key>
            <string>pxk.png</string>
        </dict>
        <key>13</key>
        <dict>
            <key>name</key>
            <string>杀虫剂罐</string>
            <key>class</key>
            <integer>5</integer>
            <key>img</key>
            <string>scj.png</string>
        </dict>
        <key>14</key>
        <dict>
            <key>name</key>
            <string>西瓜皮</string>
            <key>class</key>
            <integer>6</integer>
            <key>img</key>
            <string>xgp.png</string>
        </dict>
        <key>15</key>
        <dict>
            <key>name</key>
            <string>易拉罐</string>
            <key>class</key>
            <integer>5</integer>
            <key>img</key>
            <string>ylg.png</string>
        </dict>
        <key>16</key>
             <dict>
             <key>name</key>
             <string>修正液</string>
             <key>class</key>
             <integer>5</integer>
             <key>img</key>
             <string>xzy.png</string>
             </dict>
        <key>17</key>
             <dict>
             <key>name</key>
             <string>废纸杯</string>
             <key>class</key>
             <integer>5</integer>
             <key>img</key>
             <string>fzb.png</string>
             </dict>
        <key>18</key>
                <dict>
                <key>name</key>
                <string>牛奶盒</string>
                <key>class</key>
                <integer>5</integer>
                <key>img</key>
                <string>nnh.png</string>
                </dict>
        <key>19</key>
                <dict>
                <key>name</key>
                <string>铅笔头</string>
                <key>class</key>
                <integer>5</integer>
                <key>img</key>
                <string>qbt.png</string>
                </dict>
    </dict>
</dict>
</plist> 